@import "tailwindcss";

@theme {
    @keyframes rainbow-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    --animate-rainbow-spin: rainbow-spin 3s linear infinite;
}

.animation-delay-300 {
    animation-delay: 300ms;
}

@theme {
    @keyframes shimmer {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(100%); }
    }
}

@keyframes bounce-rotate {
    0%, 100% {
        transform: translateY(-25%) rotate(0deg);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0) rotate(15deg); /* Leichte Drehung am tiefsten Punkt */
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-bounce-rotate {
    animation: bounce-rotate 1s infinite;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* Dunkelt den Hintergrund ab */
    z-index: 9999; /* Ganz nach oben */
    backdrop-filter: blur(5px); /* Macht den Hintergrund unscharf */
}

@theme {
    @keyframes glow-zoom-happy {
        0%, 100% {
            transform: scale(1);
            filter: drop-shadow(0 0 5px rgba(0, 201, 80, 0.78));
        }
        50% {
            transform: scale(1.05); /* Sanfter Zoom */
            filter: drop-shadow(0 0 15px rgba(0, 201, 80, 0.77)); /* Stärkerer Glow */
        }
    }
}

.animate-glow-zoom-happy {
    animation: glow-zoom-happy 2s ease-in-out infinite;
}

@theme {
    @keyframes glow-zoom-sad {
        0%, 100% {
            transform: scale(1);
            filter: drop-shadow(0 0 5px rgba(59, 7, 86, 0.78));
        }
        50% {
            transform: scale(1.05); /* Sanfter Zoom */
            filter: drop-shadow(0 0 15px rgba(59, 7, 86, 0.78)); /* Stärkerer Glow */
        }
    }
}

.animate-glow-zoom-sad {
    animation: glow-zoom-sad 2s ease-in-out infinite;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}